* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  width: auto;
  background-color: #000015;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

#imagesDiv {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

img {
  border-radius: 50%;
  cursor: pointer;
}

img:hover {
  outline: 4px solid #000015;
}

#resultsDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 70px;
}

p {
  font-size: 1.2rem;
  text-indent: 8px;
}

#ComputerPara {
  text-indent: 30px;
}

button {
  height: 50px;
  width: 200px;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
}

#buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
