* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

#div_134 {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

body {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.678);
}

button {
  width: 100px;
}

div,
img {
  border-radius: 10px;
}

#div_134 {
  background-color: aqua;
}

#progressDiv {
  height: 25px;
  border: 2px solid white;
  width: 50px;
  background-color: darkcyan;
  color: white;
}

#password:active {
  border: none;
}

input:focus {
  border: 2px solid red;
}
/* when i click on the button then it changes the color to balck why please correct this and teach me how it is working while there is input:focus borderColor => red */

#popup {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  background-color: rgb(0, 102, 255);
  color: white;
  border-radius: 7px;
  border: 2px solid yellow;
  border-radius: 20px;
  border-bottom-right-radius: 2px;
  width: 200px;
  height: 30px;
  display: grid;
  align-items: center;
  position: relative;
  right: 150px;
}

#fireonce {
  width: 150px;
  background-color: cornflowerblue;
  color: white;
}

#ul_151 {
  margin: 0;
  padding: 0;
}

#self_disableBtn {
  width: fit-content;
}

#likesPara {
  margin: 0px;
  padding: 0px;
}

#counter {
  width: fit-content;
  border: none;
}
